@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #282e38;
  color: #ffffff;
  padding-top: 160px;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 104px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}

/* react-slick dots 커스텀 */
/* .slick-dots {
  margin-left: -236px !important;
} */

.slick-dots li {
  width: 0.375rem !important;
  height: 0.375rem !important;
  transition: all 0.5s ease-in-out;
}

.slick-dots .slick-active {
  background-color: #ffffff;
  width: 2.063rem !important;
  border-radius: 9999px;
}
