@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/fonts/Noto_Sans_KR/NotoSansKR-Thin.otf') format('opentype');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/fonts/Noto_Sans_KR/NotoSansKR-Light.otf') format('opentype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/fonts/Noto_Sans_KR/NotoSansKR-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/fonts/Noto_Sans_KR/NotoSansKR-Medium.otf') format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/fonts/Noto_Sans_KR/NotoSansKR-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('/fonts/Noto_Sans_KR/NotoSansKR-Black.otf') format('opentype');
  font-style: normal;
  font-weight: 900;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #282e38;
  color: #ffffff;
  padding-top: 160px;
}

a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}

/* react-slick dots 커스텀 */
.slick-dots {
  margin-left: -240px !important;
}

.slick-dots li {
  width: 0.375rem !important;
  height: 0.375rem !important;
  transition: all 0.5s ease-in-out;
}

.slick-dots .slick-active {
  background-color: #ffffff;
  width: 2.063rem !important;
  border-radius: 9999px;
}
